services:
  anki-desktop:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      PUID: '${PUID:-1000}'
      PGID: '${PGID:-1000}'
      ANKI_DESKTOP_URL: '${ANKI_DESKTOP_URL}'
      BASIC_AUTH_CREDENTIALS: '${BASIC_AUTH_CREDENTIALS}'
    volumes:
      - ./anki_data:/config
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - '--no-verbose'
        - '--tries=1'
        - '--spider'
        - 'http://localhost:3000'
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    container_name: anki-desktop
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.gzip.compress=true
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.anki-auth.basicauth.users=${BASIC_AUTH_CREDENTIALS}

      #- traefik.http.routers.http-0-anki-desktop.entryPoints=http
      #- traefik.http.routers.http-0-anki-desktop.middlewares=redirect-to-https
      #- 'traefik.http.routers.http-0-anki-desktop.rule=Host(`${ANKI_DESKTOP_URL}`) && PathPrefix(`/`)'

      - traefik.http.routers.https-0-anki-desktop.entryPoints=https
      - traefik.http.routers.https-0-anki-desktop.middlewares=gzip,anki-auth
      - 'traefik.http.routers.https-0-anki-desktop.rule=Host(`${ANKI_DESKTOP_URL}`)'
      - traefik.http.routers.https-0-anki-desktop.tls.certresolver=letsencrypt
      - traefik.http.routers.https-0-anki-desktop.tls=true
      - traefik.http.routers.https-0-anki-desktop.service=anki-web
      - traefik.http.services.anki-web.loadbalancer.server.port=3000

      #- traefik.http.routers.http-1-ankiconnect.entryPoints=http
      #- traefik.http.routers.http-1-ankiconnect.middlewares=redirect-to-https
      #- 'traefik.http.routers.http-1-ankiconnect.rule=Host(`api.${ANKI_DESKTOP_URL}`)'
      - traefik.http.routers.https-1-ankiconnect.entryPoints=https
      - 'traefik.http.routers.https-1-ankiconnect.rule=Host(`api.${ANKI_DESKTOP_URL}`)'
      - traefik.http.routers.https-1-ankiconnect.tls.certresolver=letsencrypt
      - traefik.http.routers.https-1-ankiconnect.tls=true
      - traefik.http.routers.https-1-ankiconnect.service=ankiconnect
      - traefik.http.services.ankiconnect.loadbalancer.server.port=8765
    networks:
      - coolify

networks:
  coolify:
    name: coolify
    external: true
